#projects {
  display: flex;
/*  align-content: center;*/
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: space-between;
   margin-left: 35%;
}


.pix {
  height: 700px;
  width: 500px;

}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;

}

#collagepix {
  height: 700px;
  width: 700px;
}
