#projects {
  display: flex;
/*  align-content: center;*/
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: space-between;
   margin-left: 30%;
}



.pix {
  height: 800px;
  width: 550px;

}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;

}

