#App{

}

#appContainer {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
/*    background-color: #FACADE;
*/
/*    background-image: url('/images/josh-portfolio/MERON2.jpg');
*/  background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    margin: 10px;
}

#meron {
  position: relative;
  margin-left: 20%;
  box-shadow: 8px 8px 10px #aaa;
}

#button1 {
  text-align: center;
  margin-top: 0 auto;
  margin-top: 35%;
  height: 50px;
  width: 80px;
  padding: 30px;
}

h1 {
  text-decoration: inherit;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  color: black;


}



/*

@media screen and (max-width: 720px) {
    #button1 {
        margin-top: 40%;
        height: 50px;
        width: 80px;
      }
}
*/
